 <ul class="pagination" ng-show="pages.totalPageCount() > 1" >
        <li ng-click="pages.firstPage()" ng-class="pages.isFirstPage() && 'disabled'">
            <a>
                <<
            </a>
        </li>
        <li ng-click="pages.perviousPage()" ng-class="pages.isFirstPage() && 'disabled'">
            <a>
                <
            </a>
        </li>
        <li ng-click="pages.setCurrentPage(i)" ng-repeat="i in [] | displayPages:pages.pageStartFrom():pages.totalPageCount() | limitTo : pages.displayPagesButton" ng-class="pages.page==i && 'active'"> 
            <a> 
                <i>{{i+1}}</i> 
            </a> 
        </li>
        <li ng-click="pages.nextPage()" ng-class="pages.isLastPage() && 'disabled'">
            <a>
               >
            </a>
        </li>
        <li ng-click="pages.lastPage()" ng-class="pages.isLastPage() && 'disabled'">
            <a>
                >>
            </a>
        </li>
    </ul>